# Create file env.yml in resources folder
# Then add these attributes

DB_NAME: KrowdFunFund

DEV_DB_URL: localhost
DEV_DB_PORT: 1433
DEV_DB_USERNAME: sa
DEV_DB_PASSWORD: (your db password for user sa)

# Add the file serviceAccountKey.json fromm firebase to resources folder


# Common attributes
API-DOC-URL-FOR-LOCAL: http://localhost:8080/funfund.html